* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}

:root {
    --orange-bg-color: #fc7300;
    --green-bg-color: #1f8a70;
    --blue-bg-color: #00425a;
    --darkBlue-bg-color: #181823;
    --white-bg-color: #eff5f5;
}

/*   header */

header {
    background-image: url(/img/Escuela\ UntrefSchool\ Entrada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

header #top {
    display: flex;
    align-items: center;
    padding: 0rem 0.5rem;
    justify-content: space-between;
    background-color: #181823;
    margin: -10px;
    height: 3rem;
}

header #top > div {
    display: flex;
    align-items: center;
}

header #top > div img {
    width: auto;
    height: 2rem;
}

header #top > div span {
    padding-left: 0.25rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

header #top nav ul a {
    text-decoration: none;
    color: #fff;
}

header #top nav ul li{
    list-style-type: none;
}

#encabezado {   
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
    margin-top: 3rem;
}

#encabezado h1 {
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Belanosima', sans-serif;
    text-align: center;
}

#encabezado button {
    margin-top: 0.5rem;
    width: 8rem;
    background-color: var(--white-bg-color);
    border: 0;
    border-radius: 100px;
    height: 2.3rem;
}

#encabezado button:hover {
    cursor: pointer;
    background-color: var(--orange-bg-color);
    color: #fff;
    transition: 1s;
}

/* main */

#quienes-somos {
    background-color: var(--white-bg-color);
    padding: 2rem 1rem 0rem 1rem;
}

#quienes-somos h2 {
    text-align: center;
    color: var(--blue-bg-color);
}

#quienes-somos > div {
    display: flex;
    flex-direction: column;
}

#quienes-somos > div img {
    padding: 2rem 0rem;
    max-width: 100%;
    height: auto;
}

#quienes-somos > div p {
    padding-bottom: 2rem;
    text-align: justify;
}

main #por-qué-elegirnos {
    padding: 2rem 1rem;
}

#por-qué-elegirnos > div {
    display: flex;
    flex-direction: column;
}

#por-qué-elegirnos h2 {
    text-align: center;
    color: var(--blue-bg-color);
}

#por-qué-elegirnos > div img {
    padding: 2rem 0rem;
    max-width: 100%;
    height: auto;
}

#por-qué-elegirnos > div p {
    padding-bottom: 2rem;
    text-align: justify;
}

#propuesta-educativa {
    background-color: var(--orange-bg-color);
    padding: 2rem 1rem 0rem 1rem;
}

#propuesta-educativa h2 {
    color: #fff;
    text-align: center;
    padding-bottom: 2rem;
}

#propuesta-educativa > div {
    display: flex;
    flex-direction: column;
}

#propuesta-educativa > div img{
    max-width: 100%;
    margin-bottom: 1.5rem;
    align-self: center;
    border-radius: 40px;
}

#propuesta-educativa > div img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s
}

#propuesta-educativa > div p {
    padding-bottom: 1.5rem;
    color: #ffffff;
    text-align: center;
}

#últimas-noticias {
    background-color: var(--white-bg-color);
    padding: 2rem 1rem 4rem 1rem;
}

#últimas-noticias h2 {
    text-align: center;
    padding-bottom: 1rem;
    color: var(--blue-bg-color);
}

#últimas-noticias .card {
    background-color: var(--blue-bg-color);
    border-radius: 40px;
    margin-top: 1.5rem;
    color: #ffffff;
    padding: 1.5rem;
    box-shadow:  5px 5px 12px -3px rgba(0,0,0,0.66);
}

#últimas-noticias .card:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s
}

#últimas-noticias .card h3 {
    padding-bottom: 0.5rem;
}

#últimas-noticias .card p {
    text-align: justify;
}

/*   footer */ 

footer {
    background-color: #1f8a70;
}

footer div {
    color: #ffffff;
    padding: 1rem;
}

footer h4 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

footer .redes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .redes .redes-grid {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 0.25rem;
    column-gap: 0.5rem;
    padding: 0rem;
}

footer .redes .redes-grid p {
    align-self: center;
} 

footer .redes .redes-grid svg {
    align-self: center;
    justify-self: end;
}

footer .ubicación {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

footer .ubicación h4 {
    align-self: flex-start;
}

footer .ubicación iframe {
    align-self: center;
}

footer .contacto {
    display: flex;
    flex-direction: column;
}

footer .contacto p {
    padding-bottom: 1rem;
}


/* responsive mobile first */

@media screen and (min-width:320px) {
    /* header nav */

    #top nav ul {
        display: none;
    }

    nav::before {
        content: url(/img/menu\ blanco.png);
    }

    #encabezado {   
        padding-top: 13rem;
    }
}

@media screen and (min-width: 768px) {

    /* header */

    nav::before {
        display: none;
    }

    header #top {
        height: 4rem;
    }
    
    header #top > div {
        display: flex;
        align-items: center;
    }
    
    header #top > div img {
        width: auto;
        height: 2rem;
    }
    
    header #top > div span {
        padding-left: 0.25rem;
        font-weight: 400;
        text-align: center;
        color: #fff;
    }
    #top nav ul {
        display: flex;
        align-items: center;
    }

    #top nav ul a {
        padding: 1rem;
    }
    
    #encabezado {   
        padding-top: 13rem;
    }
    
    #encabezado h1 {
        font-size: 2rem;
    }
    
    #encabezado button {
        width: 10rem;
        height: 2.7rem;
        font-size: 1.1rem;
    }

    /* main */

        /* quienes somos */

    #quienes-somos > div {
        display: flex;
        flex-direction: row;
    }

    #quienes-somos > div img {
        padding: 2rem 1rem;
        max-width: 50%;
        height: 20%;
    }

    #quienes-somos > div p {
        width: 50%;
        padding-top: 2rem;
    }
        /* por que elegirnos */

    #por-qué-elegirnos > div {
        display: flex;
        flex-direction: row;
    }
    
    #por-qué-elegirnos > div img {
        padding: 2rem 1rem;
        max-width: 50%;
        height: 20%;
    }
    
    #por-qué-elegirnos > div p {
        width: 50%;
        padding-top: 2rem;
    }
        /* propuesta educativa */

    #propuesta-educativa > div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }

    #propuesta-educativa > div .item {
        padding: 0rem 1rem;
    }
    
    #propuesta-educativa > div img{
        max-width: 100%;
        height: auto;
    }
    
    #propuesta-educativa > div p {
        padding-bottom: 1.5rem;
        color: #ffffff;
        text-align: center;
    }    

    /* footer */

    footer .ubicación iframe {
        align-self: self-start;
    }
    
}

@media screen and (min-width: 1280px) {
    /* header */
    
    #encabezado {   
        padding-top: 10rem;
        height: 45rem;
    }
    
    #encabezado h1 {
        font-size: 3.5rem;
        color: var(--green-bg-color);
    }
    
    #encabezado button {
        width: 12rem;
        height: 3rem;
        font-size: 1.3rem;
    }

    /* main */

    main h2 {
        font-size: 2rem;
    }

        /* quienes somos */

    #quienes-somos > div img {
        max-width: 30%;
        height: 20%;
    }

    #quienes-somos > div p {
        width: 70%;
        font-size: 1.2rem;
    }

        /* por que elegirnos */

    #por-qué-elegirnos > div img {
        max-width: 30%;
        height: 20%;
    }

    #por-qué-elegirnos > div p {
        width: 70%;
        font-size: 1.2rem;
    }

        /* propuesta educativa */

    #propuesta-educativa > div .item p {
        font-size: 1.2rem;
    }

        /* ultimas noticias */

    #últimas-noticias .card-container {
        display: flex;
    }

    #últimas-noticias .card-container .card {
        margin: 2rem;
        width: 50%;
    }

    /* footer */

    footer {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    
    footer h4 {
        padding-bottom: 1rem;
        font-size: 1.75rem;
    }

    footer p {
        font-size: 1.25rem;
    }
}